/* eslint-disable */
.hero-banner-container {
  color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 100vh !important;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hero-banner-container1 {
  flex: 2;
  width: 66%;
  height: 100%;
  display: flex;
  max-width: 66%;
  flex-basis: 50%;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  background-size: contain;
  justify-content: center;
  background-color: #EBEBEB;
  background-image: url(https://app.kajoo.ai/graphics/default.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.hero-banner-header {
  width: 100%;
  height: 72px;
  max-width: 100%;
}
.hero-banner-paragraph {
  width: 65%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
}
.hero-banner-container2 {
  width: 100%;
  height: 98px;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-left: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.hero-banner-link {
  color: rgba(21, 88, 151, 255);
  width: 150px;
  height: 54px;
  display: flex;
  overflow: hidden;
  font-size: 14px;
  max-width: 100%;
  min-width:                           ;
  align-self: center;
  flex-basis: 50%;
  max-height: 100%;
  text-align: center;
  align-items:                                                                                 ;
  font-family: Lato;
  font-weight: bold;
  padding-top: 14px;
  border-color: rgba(21, 88, 151, 255);
  border-style: solid;
  border-width: 4px;
  padding-left: 25px;
  border-radius: 50px;
  padding-right: 25px;
  flex-direction: column;
  padding-bottom: 12px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 255);
  -webkit-user-drag: none;
}
.hero-banner-link1 {
  color: rgba(21, 88, 151, 255);
  width: 154px;
  height: 54px;
  display: flex;
  overflow: hidden;
  font-size: 14px;
  max-width: 100%;
  min-width:                             ;
  align-self: center;
  flex-basis: 50%;
  max-height: 100%;
  text-align: center;
  align-items:                                                                                   ;
  font-family: Lato;
  font-weight: bold;
  padding-top: 14px;
  border-color: rgba(21, 88, 151, 255);
  border-style: solid;
  border-width: 2px;
  padding-left: 25px;
  border-radius: 50px;
  padding-right: 25px;
  flex-direction: column;
  padding-bottom: 12px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 255);
  -webkit-user-drag: none;
}
.hero-banner-container3 {
  flex: 1;
  width: 33%;
  height: 100%;
  display: flex;
  max-width: 33%;
  flex-basis: 50%;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  background-size: contain;
  justify-content: center;
  background-color: #EBEBEB;
  background-image: url(https://app.kajoo.ai/graphics/default.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.hero-banner-header1 {
  width: 100%;
  height: 72px;
  max-width: 100%;
}
.hero-banner-paragraph1 {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.hero-banner-link2 {
  color: rgba(21, 88, 151, 255);
  width: 280px;
  height: 46px;
  display: flex;
  overflow: hidden;
  font-size: 14px;
  max-width: 100%;
  min-width: 240px;
  align-self: center;
  max-height: 100%;
  text-align: center;
  align-items:                                                                                 ;
  font-family: Lato;
  font-weight: bold;
  padding-top: 14px;
  border-color: rgba(21, 88, 151, 255);
  border-style: solid;
  border-width: 2px;
  padding-left: 25px;
  border-radius: 50px;
  padding-right: 25px;
  flex-direction: column;
  padding-bottom: 12px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 255);
  -webkit-user-drag: none;
}
.hero-banner-undefined-container-default {
  display: flex;
}
.hero-banner-undefined-header-default {
  color: rgba(255, 209, 78, 255);
  font-size: 65px;
  min-width: 30px;
  font-family: Playfair Display;
}
.hero-banner-undefined-paragraph-default {
  color: rgba(80, 80, 80, 1);
  overflow: hidden;
  font-size: 18px;
  min-width: 30px;
  font-family: Lato;
  -webkit-user-drag: none;
}
.hero-banner-undefined-link-round-link {
  color: rgba(21, 88, 151, 255);
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  font-size: 14px;
  max-width: 100%;
  min-width:                       ;
  align-self: center;
  max-height: 100%;
  text-align: center;
  align-items:                                                                             ;
  font-family: Lato;
  font-weight: bold;
  padding-top: 14px;
  border-color: rgba(21, 88, 151, 255);
  border-style: solid;
  border-width: 2px;
  padding-left: 25px;
  border-radius: 50px;
  padding-right: 25px;
  flex-direction: column;
  padding-bottom: 12px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 255);
  -webkit-user-drag: none;
}
@media(max-width: 768px) {
  .hero-banner-container {
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-banner-container1 {
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    background-size: contain;
    justify-content: center;
    background-color: #EBEBEB;
    background-image: url(https://app.kajoo.ai/graphics/default.svg);
    background-repeat: no-repeat;
    background-position: left center;
  }
  .hero-banner-container3 {
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    background-size: contain;
    justify-content: center;
    background-color: #EBEBEB;
    background-image: url(https://app.kajoo.ai/graphics/default.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media(max-width: 640px) {
  .hero-banner-container {
    align-items: center;
    flex-direction: column;
  }
  .hero-banner-header {
    max-width: 100%;
    flex-basis: auto;
  }
  .hero-banner-paragraph {
    max-width: 100%;
    flex-basis: auto;
  }
  .hero-banner-container2 {
    max-width: 100%;
    flex-basis: auto;
    align-items: center;
    flex-direction: column;
  }
  .hero-banner-link {
    max-width: 100%;
    flex-basis: auto;
  }
  .hero-banner-link1 {
    max-width: 100%;
    flex-basis: auto;
  }
  .hero-banner-header1 {
    max-width: 100%;
    flex-basis: auto;
  }
  .hero-banner-paragraph1 {
    max-width: 100%;
    flex-basis: auto;
  }
  .hero-banner-link2 {
    max-width: 100%;
    flex-basis: auto;
  }
}
