.new-project-oct-24-13-18-12-wireframe1 {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 122px;
  display: flex;
  padding: 17px 62px 17px 30px;
  position: relative;
  flex-grow: 0;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}

.new-project-oct-24-13-18-12-reformlogoprimary1 {
  width: 102px;
  height: 88px;
  margin: 0 42px 0 0;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  object-fit: cover;
  flex-shrink: 0;
  border-color: transparent;
}

.new-project-oct-24-13-18-12-text {
  font: normal 700 14px/normal Inter;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 42px 0 0;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.new-project-oct-24-13-18-12-text1 {
  font: normal 700 14px/normal Inter;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 42px 0 0;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.new-project-oct-24-13-18-12-text2 {
  font: normal 700 14px/normal Inter;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 42px 0 0;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.new-project-oct-24-13-18-12-text3 {
  font: normal 700 14px/normal Inter;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 42px 0 0;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.new-project-oct-24-13-18-12-text4 {
  font: normal 700 14px/normal Inter;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 42px 0 0;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}

.new-project-oct-24-13-18-12-text5 {
  font: normal 700 14px/normal Inter;
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 0;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}